[submodule "external/LineQuaaadrature"]
	path = external/LineQuaaadrature
	url = https://github.com/haiszhu/LineQuaaadrature
[submodule "external/QuatApproximation"]
	path = external/QuatApproximation
	url = https://github.com/haiszhu/QuatApproximation
[submodule "external/kdtree"]
	path = external/kdtree
	url = https://github.com/taiya/kdtree.git
