[submodule "utils/FMM3D"]
	path = utils/FMM3D
	url = https://github.com/flatironinstitute/FMM3D.git
[submodule "utils/kdtree"]
	path = utils/kdtree
	url = https://github.com/taiya/kdtree.git
[submodule "private"]
	path = private
	url = https://github.com/haiszhu/qotential-master.git
