*.DS_Store 
*.mexmaci64
*.mexmaca64
*.mexa64
*.o
*.asv
fort.*
*.txt
!web/stellarator/fortran/wasm_sources.txt
!web/stellarator/fortran/fmm3d_wasm_sources.txt
!web/stellarator/public/THIRD_PARTY_NOTICES.txt
*.mod
*.a
int2*
make.inc
build/
build-lfortran/
/docs/
